<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Assistant Librarian</title>
</head>
<body>
    <div style="position: absolute; top: 5%; left: 30%;">
        <a href="/"><button>В главное меню</button></a><br>
        <h2>Список читателей</h2>

        <a href="{% url 'create_client' %}"><button>Добавить читателя</button></a>

        {% if clients %}
        <table>
            <thead>
            <th>id</th>
            <th>Имя</th>
            <th>Адрес</th>
            <th>Телефон</th>
            <th>Дата последнего посещения</th>
            <th></th>
            </thead>
            {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.client_name }}</td>
                <td>{{ client.address }}</td>
                <td>{{ client.phone }}</td>
                <td>{{ client.visit_date }}</td>
                <td><a href="edit/{{client.id}}">Изменить</a> | <a href="delete/{{client.id}}">Удалить</a></td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</body>
</html>