<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Assistant Librarian</title>
</head>
<body>
    <div style=" display: flex; justify-content: center; gap: 20px;">
        <h2>Выберите действие</h2>
        <a href="/library"><button style="margin-top: 25px;">Библиотека</button></a>
        <a href="/clients"><button style="margin-top: 25px;">Читатели</button></a>
        <a href="/book_info"><button style="margin-top: 25px;">Взятие/Возврат книг</button></a>
        <a href="/reports"><button style="margin-top: 25px;">Информация</button></a>
    </div>
</body>
</html>
